.container {
  height: 100%;
  display: grid;
  place-items: center;
}

.spinner {
  font-size: 3em;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
