:root:not([data-theme='dark']),
:root:not([data-theme='light']) {
  --primary: #fb8c00;
  --animation-duration: 250ms;
}

form {
  --typography-spacing-vertical: 0;
}

form input {
  --spacing: 0;

  backdrop-filter: blur(2px);
}

@media (prefers-color-scheme: light) {
  form input {
    background-color: rgba(255, 255, 255, calc(2 / 3));
  }
}

@media (prefers-color-scheme: dark) {
  form input {
    background-color: rgba(14, 20, 25, calc(2 / 3));
  }
}
