.container {
  padding: 0.5em 1em;
}

.verse-container {
  border: 1px dashed transparent;
  padding: 1ch;
}

.verse-container:not(:last-child) {
  margin-bottom: 1ch;
}

.verse-number {
  margin-right: 1ch;
}

.focused {
  border: 1px solid var(--primary);
}
